<div class="login">
  <div class="form">
    <div class="input-wrapper">
      <div>
        <label for="accountNumber">Account Nr:</label>
        <input
          v-model="accountNumber"
          type="text"
          maxlength="9"
          id="accountNumber"
          autocomplete="off"
        />
      </div>
      <div class="input-error">{{accountNrError}}</div>
    </div>
    
    <div class="input-wrapper">
      <div>
        <label for="pin">PIN:</label>
        <input
          v-model="pin"
          type="text"
          maxlength="4"
          id="pin"
          autocomplete="off"
        />
      </div>
      <div class="input-error">{{pinError}}</div>
    </div>

    <button @click="login()">LOGIN</button>

    <div v-if="backendLoginError" class="backend-error">{{backendLoginError}}</div>
  </div>
</div>
